@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  margin: 0;
  background-color: #fdfbff;
}

header {
  background: #f7eff9;
  padding: 20px 20px;
  text-align: center;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

.cta-buttons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.cta-buttons a {
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  margin: 5px;
  color: #84319a;
  text-decoration: none;
}

.cta-buttons a:hover {
  padding: 10px 15px;
  margin: 5px;
  background-color: #5a0390;
  color: white;
  border-radius: 25px;
}

section {
  padding: 20px;
  max-width: 100%;
}

.mission {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.mission-text {
  align-items: center;
  margin: 100px;
}

.mission-text h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #8e7cc3;
  margin: 40px;
}

.mission-text p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 28px;
}

.mission-img {
  border-radius: 15px;
  height: 500px;
}

#stories h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #8e7cc3;
  margin: 40px;
}

.stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 420px;
  height: 530px;
  border-radius: 15px;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #8e7cc3;
  margin-top: 20px;
}

.card p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  line-height: 28px;
}

.card ul li{
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.card span{
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #333333;
  line-height: 28px;
}